{% if dept2_list %}
    <table border ='3'>
        <tr>
            <th> 팀 번호 </th>
            <th> 팀 명 </th>
            <th> 본부 번호 </th>
            <th> 담당 업무 </th>
            <th> 위치 </th>
        </tr>
        {% for info in dept2_list %}
        <tr>
            <td><a href = '/dept/dept3/{{ info.id}}/'>{{ info.team_num }}</a></td>
            <td>{{ info.team_name }}</td>
            <td>{{ info.head_num }}</td>
            <td>{{ info.affairs }}</td>
            <td>{{ info.loc }}</td>
        </tr>
        {% endfor %}
</table>
{% endif %}